.cartpage {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
}
.cartpage h2 {
  margin-bottom: 1rem;
}
.cartpage__left {
  flex: 0.7;
  margin-right: 1rem;
  background-color: transparent;
  padding: 1rem;
}

.cartpage__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}
.cartpage__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.cartpage__right div:last-child {
  border: none;
}
.cartpage__info p {
  padding: 8px;
}

.cartpage__right div button {
  padding: 10px 17px;
  width: 100%;
  background-color: rgb(91, 165, 229);
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 2px;
}

.cartpage__right div button:disabled,
.cartpage__right div button[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}
.a-button {
  padding: 10px 17px;
  background-color: rgb(91, 165, 229);
  color: #f4f4f4;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 1320px) {
  .cartpage {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartpage {
    max-width: 800px;
    flex-direction: column;
  }
  .cartpage__left {
    margin: 0;
  }
  .cartpage__right {
    margin: 1rem;
  }
}
