.product {
  width: 300px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product > img {
  height: 200px;
  border-radius: 8px;
}

.product__info > p {
  margin-bottom: 8px;
}

.info__price {
  font-weight: bold;
}
.info__name {
  font-size: 1.4rem;
  overflow: hidden;
  text-shadow: 0 0.8px 1px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

.info__description {
  font-size: 0.8rem;
}

.info__button {
  display: block;
  background-color: #3498DB;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  outline: none;
  text-align: center;
}

.info__button:hover {
  background-color: #2980B9;
  transform: translateY(-3px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  color: white;
}
.info__rating {
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 1232px) {
  .product {
    width: 360px;
  }
}

@media (max-width: 1115px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 1028px) {
  .product {
    width: 300px;
  }
}

@media (max-width: 950px) {
  .product {
    width: 400px;
  }
}

@media (max-width: 830px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 700px) {
  .product {
    width: 290px;
  }
}

@media (max-width: 630px) {
  .product {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .product {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .product {
    width: 300px;
  }
}
